.boss {
    padding: 5px;
    display: grid;
    grid-gap: 0rem 1rem;
    grid-template-columns: auto auto 1fr;
}

#classIcon {
    max-height: 20px;
}

#endwalker-bosses {
    display: grid;
    grid-template-columns: auto auto;
}