.boss {
    padding: 5px;
    display: grid;
    grid-gap: 0rem 1rem;
    grid-template-columns: auto auto 1fr;
}

.bosses {
    display: grid;
    grid-template-columns: auto auto;
    padding: 1rem;
    width: 95%;
    justify-content: space-around;
}

#classIcon {
    max-height: 20px;
}